include LICENSE *.md *.rst *.toml *.yml *.yaml
include setup.py
include requirements.txt
include requirements-dev.txt
include .coveragerc
# Tests
recursive-include tests *.py
# Documentation
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build